body {
    background-color: rgb(146, 21, 21);
}

/* Frame */
.rectangle {
    width: 80%;
    background-color: #b4b4b4;
    border: 2px solid #333;
    border-radius: 25px;

    padding: 24px;
    margin: 140px auto 140px auto;
}

.home {
    float: right;
}

.arrow {
    float: left;
}

.buttons {
    width: 85%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Footer */
.footer {
    bottom: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #e5e5e5;
}

.footer-left {
    display: flex;
    gap: 10%;
}

.footer-left a {
    color: #000;
    text-decoration: none;
}

.footer-left a:hover {
    text-decoration: underline;
}

.footer-right {
    color: #555;
}

/* Header */

.header {
    bottom: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #e5e5e5;
}

.header-left {
    display: flex;
    gap: 10%;
}

.header-left a {
    color: #000;
    text-decoration: none;
}

.header-left a:hover {
    text-decoration: underline;
}

.header-right {
    color: #555;
}