body {
    background-color: rgb(146, 21, 21);
}

/* Frame */
.rectangle {
    width: 80%;
    background-color: #b4b4b4;
    border: 2px solid #333;
    border-radius: 25px;
    height: 100%;
    padding: 24px;
    margin: 140px auto 140px auto;
}

.home {
    float: right;
}

.arrow {
    float: left;
}

.buttons {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;

    top: 10%;
}

/* Footer */
.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #e5e5e5;
}

.footer-left {
    display: flex;
    gap: 10%;
}

.footer-left a {
    color: #000;
    text-decoration: none;
}

.footer-left a:hover {
    text-decoration: underline;
}

.footer-right {
    color: #555;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #e5e5e5;
}

.header-left {
    display: flex;
    gap: 10%;
}

.header-right {
    color: #555;
}