@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Lexend:wght@400;500;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base Layout */
html {
    overflow-y: scroll;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    font-family: 'Poppins', sans-serif;
}

#lesson-title {
    flex-shrink: 0;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 0;
}

/* Footer */
.footer {
    flex-shrink: 0;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-left {
    display: flex;
    gap: 40px;
}

.footer-left a {
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.footer-left a:hover {
    text-decoration: underline;
}

.footer-right {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-left .logo {
    height: 30px;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center a {
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-center a:hover {
    opacity: 0.8;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.header-right a {
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-right a:hover {
    opacity: 0.8;
}

.premium-icon,
.settings-icon {
    width: 24px;
    height: 24px;
}

.profile-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}